<%- include templates/header %>
<div class="col-md-offset-2">
    
<h1>BringHome - безкоштовний сервіс кур'єрської доставки! Ні клієнти, ні кур'єри не платять ніяких комісій!</h1>

<p>
Основна наша мета - дати можливість вам отримати доставкою додому/в офіс будь-яку, навіть найменшу
річ, незалежно від її вартості, у будь-який час.
    
</p>

Якщо ви:
<ul>
    
<li> не хочете стояти в черзі за покупками</li>
<li> не маєте можливості піти за ними</li>
<li> хочете вчасно отримати замовлення</li>
<li> хочете самі вирішувати скільки платити за доставку</li>
</ul>

- тоді ви зайшли на правильний сервіс! <br>


Реєструйтесь, залишайте замовлення - і до вас відгукнеться кур'єр <br>


Якщо ви хочете швидко підробити грошей та допомогти людям - реєструйтесь, беріть
замовлення, та виконуйте його!
</div>

<%- include templates/footer %>
