.row{
    width: 80%;
    border-bottom:1px solid #ff8041;
    padding-top: 50px;
}

label{
    font-weight: 100;
}

#sbmt{
    padding-top:0px;
    height: 60px;
    margin-top:70px;
    font-size: 25px;
}

.order-item:hover{
    background-color: #66CEF5;
    color:white;
    cursor: pointer;
    border-bottom:1px solid #66CEF5;
}

.order-item:active{
    background-color:#33bdf5;
    border-bottom:1px solid #33bdf5;
}

#address{
    font-size: 18px;
}
